$font-color-black: #000;
$font-color-gray: #6c757d;
$box-border-color: #e8e8e8;
$yellow-color: #fcc138;
$white-color: #fff;

$primary-font: 'Saira Condensed', Impact, 'Arial Narrow Bold', sans-serif;
$secondary-font: 'Yantramanav', Verdana, Arial, sans-serif;

$break-point: 768px;
$column-low: 80px;
$column-high: 120px;

$font-weight-base: 400;
$font-weight-bold: 700;