$font-color-black: #000;
$font-color-gray: #6c757d;
$box-border-color: #e8e8e8;
$yellow-color: #fcc138;
$white-color: #fff;

$primary-font: 'Saira Condensed', Impact, 'Arial Narrow Bold', sans-serif;
$secondary-font: 'Yantramanav', Verdana, Arial, sans-serif;

$break-point: 768px;
$column-low: 80px;
$column-high: 120px;

$font-weight-base: 400;
$font-weight-bold: 700;

$border-thin: 1px;
$border-bold: 2px;

$w-sm: 60px;
$w-md: 80px;
$w-lg: 120px;
$w-xl: 160px;
$w-xxl: 240px;

$s-1: 4px;
$s-2: 8px;
$s-3: 12px;
$s-4: 16px;
$s-5: 24px;