@import './reset';
@import './variables';
@import './utils';
@import './flexbox';

body {
    margin: 10px;
    background-color: $white-color;
    color: $font-color-black;
}
* {
    font-size: 16px;
    font-family: $primary-font;
    font-weight: $font-weight-base;
}

.container {
    width: 100%;
    max-width: $break-point;
    overflow-x: hidden;
    @media screen and (min-width: $break-point) {
        width: $break-point;
    }
}
.row {
    display: flex;
    width: 100%;
}
.select {
    padding: 8px;
    border-radius: 3px;
    text-transform: uppercase;
    border-color: $box-border-color;
    &__format {
        width: 200px;
    }
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $font-color-black;

    .chevron {
        display: inline-block;
        border-right: 2px solid $font-color-black;
        border-bottom: 2px solid $font-color-black;
        width: 8px;
        height: 8px;
        transform: rotate(-225deg);
    }
    .chevron.right {
        transform: rotate(-45deg);
    }
}
.tables {
    &-row-title {
        text-transform: uppercase;
        font-size: 24px;
    }
    &-row-content {
        font-size: 16px;
        .head {
            &-main {
                width: 60px;
                .mobile {
                    display: block
                }
                .desktop {
                    display: none;
                }
                @media screen and (min-width: $break-point) {
                    width: 160px;
                    .mobile {
                        display: none;
                    }
                    .desktop {
                        display: block;
                    }
                }
            }
            &-consensus {
                width: 80px;
                div {
                    justify-content: space-around;
                    align-items: center;
                }
                &-title {
                    height: 24px;
                    font-size: 12px;
                    text-align: center;
                    @media screen and (min-width: $break-point) {
                        font-size: 16px;
                    }
                }
                &-content {
                    height: $column-high;
                    @media screen and (min-width: $break-point) {
                        height: $column-low;
                    }
                    padding: 8px;
                    div {
                        font-family: $secondary-font;
                        font-weight: $font-weight-bold;
                    }
                }
            }
            &-main-date {
                height: 24px;
                color: $font-color-gray;
                div {
                    font-family: $secondary-font;
                    font-size: 12px;
                }
            }
            &-main-content {
                font-size: 16px;
                height: $column-high;
                @media screen and (min-width: $break-point) {
                    height: $column-low;
                }
                justify-content: space-around;
                border: 1px solid $box-border-color;
                padding: 8px;
                text-transform: uppercase;
                div {
                    overflow-y: clip;
                    height: 25px;
                    text-overflow: ellipsis;
                }
            }

        }
        .slider-box {
            position: relative;
            overflow-x: hidden;
            width: 100%;
        }
        .slider {
            position: absolute;
            left: 0px;
            &-column {
                width: 60px;
                @media screen and (min-width: $break-point) {
                    width: 120px;
                }
                .column-title {
                    height: 24px;
                    img {
                        width: 60px;
                        height: 24px;
                        border-radius: 3px;
                        @media screen and (min-width: $break-point) {
                            width: 120px;
                        }
                    }
                }
                .column-scores {
                    padding: 8px;
                    height: $column-high;
                    border-top: 2px solid transparent;
                    border-bottom: 2px solid transparent;
                    @media screen and (min-width: $break-point) {
                        height: $column-low;
                    }
                    border: 1px solid #e8e8e8;
                    justify-content: space-around;
                    .scores-field {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;
                        @media screen and (min-width: $break-point) {
                            flex-direction: row;
                        }
                    }
                    div {
                        font-family: $secondary-font;
                    }
                    .line {
                        font-weight: $font-weight-bold;
                    }
                    .odds {
                        color: $font-color-gray;
                    }
                    &.highlight {
                        border-top: 2px solid $yellow-color;
                        border-bottom: 2px solid $yellow-color;
                    }
                }
            }
        }
    }
}