@import './reset';
@import './variables';
@import './utils';
@import './flexbox';

body {
    margin: $s-3;
    background-color: $white-color;
    color: $font-color-black;
}
* {
    font-size: $s-4;
    font-family: $primary-font;
    font-weight: $font-weight-base;
}

::-webkit-scrollbar {
    height: $s-1;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #bbb;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.container {
    width: 100%;
    overflow-x: hidden;
}
.row {
    display: flex;
    width: 100%;
}
.select {
    padding: $s-2;
    border-radius: $s-1;
    text-transform: uppercase;
    border-color: $box-border-color;
    &__format {
        width: 100%;
        transition: width .3s;
        @media screen and (min-width: $break-point) {
            width: $w-xxl;
            transition: width .3s;
        }
    }
}
.arrows-container {
    display: none;
    @media screen and (min-width: $break-point) {
        display: flex;
    }
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $s-5;
    height: $s-5;
    border-radius: 50%;
    border: $border-bold solid $font-color-black;

    .chevron {
        display: inline-block;
        border-right: $border-bold solid $font-color-black;
        border-bottom: $border-bold solid $font-color-black;
        width: $s-2;
        height: $s-2;
        transform: rotate(-225deg);
    }
    .chevron.right {
        transform: rotate(-45deg);
    }
    &.disabled {
        border: $border-bold solid rgba($font-color-gray, .3);
        pointer-events: none;
        .chevron {
            border-right: $border-bold solid rgba($font-color-gray, .3);
            border-bottom: $border-bold solid rgba($font-color-gray, .3);
        }
    }
}

.tables {
    &-row-title {
        text-transform: uppercase;
        font-size: $s-5;
        margin-bottom: $s-4;
        @media screen and (min-width: $break-point) {
            margin-bottom: $s-2;
        }
    }
    &-row-content {
        font-size: $s-4;
        .head {
            &-main {
                width: $w-sm;
                transition: width .3s;
                .mobile {
                    display: block
                }
                .desktop {
                    display: none;
                }
                @media screen and (min-width: $break-point) {
                    width: $w-xl;
                    transition: width .3s;
                    .mobile {
                        display: none;
                    }
                    .desktop {
                        display: block;
                    }
                }
            }
            &-consensus {
                width: $w-md;
                div {
                    justify-content: space-around;
                    align-items: center;
                }
                &-title {
                    height: $s-5;
                    font-size: $s-3;
                    text-align: center;
                    @media screen and (min-width: $break-point) {
                        font-size: $s-4;
                    }
                }
                &-content {
                    height: $column-high;
                    @media screen and (min-width: $break-point) {
                        height: $column-low;
                    }
                    padding: $s-2;
                    div {
                        font-family: $secondary-font;
                        font-weight: $font-weight-bold;
                    }
                }
            }
            &-main-date {
                height: $s-5;
                color: $font-color-gray;
                div {
                    font-family: $secondary-font;
                    font-size: $s-3;
                }
            }
            &-main-content {
                font-size: $s-4;
                height: $column-high;
                @media screen and (min-width: $break-point) {
                    height: $column-low;
                }
                justify-content: space-around;
                border: $border-thin solid $box-border-color;
                padding: $s-2;
                text-transform: uppercase;
                div {
                    overflow-y: clip;
                    height: 25px;
                    text-overflow: ellipsis;
                }
            }
        }
        .slider-box {
            position: relative;
            overflow-x: hidden;
            width: 100%;
        }
        .slider {
            overflow: auto;
            // position: relative;
            @media screen and (min-width: $break-point) {
                overflow: hidden;
                position: absolute;
                left: 0px;
            }
            &-column {
                min-width: $w-sm;
                transition: width .3s;
                margin-left: $s-2;
                @media screen and (min-width: $break-point) {
                    width: $w-lg;
                    transition: width .3s;
                    margin-left: $s-4;
                }
                .column-title {
                    height: $s-5;
                    img {
                        width: $w-sm;
                        height: $s-5;
                        border-radius: $s-1;
                        @media screen and (min-width: $break-point) {
                            width: $w-lg;
                        }
                    }
                }
                .column-scores {
                    padding: $s-2;
                    height: $column-high;
                    border-top: $border-bold solid transparent;
                    border-bottom: $border-bold solid transparent;
                    @media screen and (min-width: $break-point) {
                        height: $column-low;
                    }
                    border: $border-thin solid #e8e8e8;
                    justify-content: space-around;
                    .scores-field {
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;
                        div {
                            display: flex;
                            justify-content: end;
                        }
                        @media screen and (min-width: $break-point) {
                            flex-direction: row;
                        }
                    }
                    div {
                        font-family: $secondary-font;
                    }
                    .line {
                        font-weight: $font-weight-bold;
                    }
                    .odds {
                        color: $font-color-gray;
                    }
                    &.highlight {
                        border-top: $border-bold solid $yellow-color;
                        border-bottom: $border-bold solid $yellow-color;
                    }
                }
            }
        }
    }
}